<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><img class="img-login" [src]="logo"></span>
  
      <span class="example-spacer"></span>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar> 
 <div class="login">


    <mat-card class="centro"><h2>Cadastrar</h2></mat-card>
  
    <form (ngSubmit)="submit()" #loginForm="ngForm">
      <div class="example-container">
          <mat-form-field>
              <input matInput required maxLength=14 [(ngModel)]="user.cpf" name="cpf" placeholder="Cpf" type="number">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput required [(ngModel)]="user.nome" name="nome" placeholder="Nome">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" required [(ngModel)]="user.email" name="email" placeholder="Digite seu email">
            </mat-form-field>
            <div [hidden]="email.valid || email.pristine"
            class="invalid">
            <div [hidden]="!email.hasError('pattern')">email inválido</div>
             </div>
      
            <mat-form-field>
              <input matInput required [(ngModel)]="user.password" name="password" placeholder="Digite sua senha" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
      
            <section class="example-section">
              <label class="example-margin">Perfil:</label>
              <mat-radio-group [(ngModel)]="user.perfil" name="perfil">
                <mat-radio-button class="example-margin" value="admin">Admin</mat-radio-button>
                <mat-radio-button class="example-margin" value="user">User</mat-radio-button>
              </mat-radio-group>
            </section>
  
        <button class="btn" mat-button mat-raised-button color="primary" type="submit" [disabled]="loginForm.form.invalid">Cadastrar</button>
      </div>
  
      
  
    </form>
  
  
  
  </div>