.logo{
  width: 170px;
}
.bg{
  background: #d0d0d0;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}
.login{
  width: 500px;
  margin: 0 auto;
}
.img-login{
  width: 30%;
}